{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
  Profile {% if userprofile %} — userprofile.user {% endif %}
{% endblock title %}

{% block content %}
<div class="my-4">
  {% if userprofile %}
    <div class="d-flex justify-content-center">
      {% if userprofile.profile_picture %}
        <img style="width: 150px;" alt="..." class="shadow avatar avatar-xl rounded-circle" src="{{ userprofile.profile_picture.url }}">
      {% endif %}
      <a href="{% url 'users:update' %}" class="">{{ userprofile.user.username }}</a>
    </div>
  {% endif %}
  <form class="form-horizontal"
        method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </div>
  </form>
</div>
{% endblock content %}
