{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
  {{ userprofile.user.username }}
{% endblock title %}

{% block bodyclass %}
{% endblock bodyclass %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
{% comment %} <h2>User Profile</h2>
<p><strong>Username:</strong> {{ userprofile.user.username }}</p>
<p><strong>Wroks as:</strong> {{ userprofile.occupation }}</p>
<p><strong>Workplace:</strong> {{ userprofile.organization }}</p>
<p><strong>Country:</strong> {{ userprofile.country }}</p>
<p><strong>Tags:</strong> {{ userprofile.tags }}</p> {% endcomment %}

<div class="container   my-4">
<div class="card my-4">
  <div class="card-body">
    <div class="d-flex justify-content-center">
      <a href="#" class="">
        {% if userprofile.profile_picture %}
          <img style="width: 150px;" alt="..." class="shadow avatar avatar-xl rounded-circle" src="{{ userprofile.profile_picture.url }}">
        {% else %}
          <span class="letter-circle">{{ userprofile.display_name.0 }}</span>
        {% endif %}
      </a>
    </div>
    <div class="text-center mt-4">
      <!-- Title -->
      <span href="#" class="d-block h3 mb-3">{{ userprofile.display_name }}</span>
      <!-- Subtitle -->
      <span class="d-block text-sm text-muted">{{ userprofile.bio }}</span>
    </div>
    <!-- Links -->
    <div class="d-grid gap-2 mt-4">
    {% for item in userprofile.sociallink_set.all %}
      <a class="btn btn-light" href="{{ item.profile_url }}" role="button"><i class="m-1 bi-{{ item.platform_name|lower }}"></i>{{ item.platform_name }}</a>
    {% endfor %}
    </div>
    {% if userprofile.location or userprofile.occupation or userprofile.tags %}
    <hr />
    {% endif %}
    <!-- Stats -->
    <div class="d-flex justify-content-center mt-4">
      {% if userprofile.location %}
      <div class="col-4 text-center">
        <i href="#" class="h4 font-bolder mb-0 bi-geo-alt-fill"></i>
        <span class="d-block text-sm m-1">Lives in <strong>{{ userprofile.location }}</strong></span>
      </div>
      {% endif %}
      {% if userprofile.occupation %}
      <div class="col-4 text-center">
        <i href="#" class="h4 font-bolder mb-0 bi-gear-fill"></i>
        <span class="d-block text-sm m-1">Works as <strong>{{ userprofile.occupation }}</strong></span>
      </div>
      {% endif %}
      {% if userprofile.tags %}
      <div class="col-4 text-center">
        <i href="#" class="h4 font-bolder mb-0 bi-stars"></i>
        <span class="d-block text-sm">Interested in <strong>{{ userprofile.tags }}</strong></span>
      </div>
      {% endif %}
    </div>
  </div>
</div>
</div>
{% endblock content %}
