{% extends "base.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Sign Up" %}
    {% endelement %}
    {% setvar link %}
        <a href="{{ login_url }}">
        {% endsetvar %}
        {% setvar end_link %}
        </a>
    {% endsetvar %}
    {% element p %}
        {% blocktranslate %}Already have an account? Then please {{ link }}sign in{{ end_link }}.{% endblocktranslate %}
    {% endelement %}
    {% if not SOCIALACCOUNT_ONLY %}
        {% url 'account_signup' as action_url %}
        {% element form form=form method="post" action=action_url tags="entrance,signup" %}
            {% slot body %}
                {% csrf_token %}
                {% element fields form=form unlabeled=True %}
                {% endelement %}
                {{ redirect_field }}
            {% endslot %}
            {% slot actions %}
                {% element button tags="prominent,signup" type="submit" %}
                    {% trans "Sign Up" %}
                {% endelement %}
            {% endslot %}
        {% endelement %}
    {% endif %}
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
{% endblock content %}

{% block inline_javascript %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Get the existing div
        var div = document.getElementById("div_id_username");

        // Get the input field
        var input = document.getElementById("id_username");

        // Create a new div for the input group
        var inputGroupDiv = document.createElement("div");
        inputGroupDiv.className = "input-group mb-3";

        // Create the span for the input group text
        var span = document.createElement("span");
        span.className = "input-group-text";
        span.id = "basic-addon3";
        span.textContent = "getbiopage.com/";

        // Append the span and input to the new div
        inputGroupDiv.appendChild(span);
        inputGroupDiv.appendChild(input);

        // Append the new div to the original div
        div.appendChild(inputGroupDiv);
    });
</script>
{% endblock inline_javascript %}
